/* Google fonts import */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap");
@font-face {
    font-family: 'QuantifyBold';
    src: url('../fonts/quantifybold.ttf') format('truetype');
}

/* Asterisk wildcard selector to override default styles added by the browser */
/*Copy paste Asterisk wildcard selector from Love runnung project codeinstitute*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* --------------------------------
-----------Color Palette-----------
-------------------------------- */
/* 
    The :root pseudo-class is used to define global CSS variables, 
    enabling consistency and ease of maintenance. For trying 
    out different color palettes by only changing the properties inside the :root.
*/
:root {
    /* CSS Variables Declaration */
    --color-primary: #12733c;
    --color-secondary: #991212;
    --color-secondary-pellucid: rgba(153, 18, 18, 0.6); /* --color-secondary with 60% opacity */
    --color-dark: rgba(1, 1, 1, 0.7);
    --color-darker: rgba(0, 0, 0, 0.973);
    --color-darker-pellucid: rgba(0, 0, 0, 0.6); /* --color-darker with 60% opacity */
    --color-neon: rgb(0, 102, 255); 
    --text-color: #cccccc;
    --color-black: black; 
}

/* --------------------------------
----------- General Styles --------
-------------------------------- */

body {
    background-color: var(--color-black);
    font-family: "Montserrat", sans-serif;
    color: var(--text-color);
}

h1,h2,h3,h4 {
    font-family: "Quantify", sans-serif;
    color: var(--text-color);
    letter-spacing: 3px;
}

hr {
    border: none;
    background-color: var(--color-secondary);
    opacity: 0.6;
    box-shadow: 0px 0.75px 3px var(--color-secondary);
    border-bottom: 0.3px solid var(--color-secondary);
    height: 0;
}


/* --------------------------------
----------- Text Styling ----------
-------------------------------- */

.cyphex {
    font-family: "Quantify", sans-serif;
}

.red {
    color: var(--color-secondary);
    line-height: 1;
}

.underline-effect {
    display: inline-block;
    position: relative;
}

.underline-effect::after {
    content: "";
    display: block;
    margin-top: 0.1em;
    height: 0;
    background: var(--color-secondary);
    opacity: 0.6;
    box-shadow: 0px 0.75px 3px var(--color-secondary);
    border-bottom: 0.3px solid var(--color-secondary);
    width: 103%;
    transform: translate(-1.5%, 0);
    position: relative;
}

/* --------------------------------
-------------- Header -------------
-------------------------------- */
header {
    background-color: var(--color-darker);
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0px 1px 3px var(--color-secondary),
        0px 0px 100px var(--color-primary);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    height: 49px;
    width: auto;
    align-items: center;
}

/* --------------------------------
---------- Menu & Navbar ----------
------------------------------- */

#menu ul {
    list-style-type: none;
    font-size: 115%;
    letter-spacing: 1px;
    word-spacing: 4px;
    text-align: center;
    font-family: "Quantify", sans-serif;
}

#menu > ul > li {
    padding: 10px 0;
}

#menu a {
    text-decoration: none;
    color: var(--text-color);
}

/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: var(--color-darker);
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0px 1px 4px var(--color-secondary),
        0px 0px 50px var(--color-primary);
    display: none;
    top: 100%;
}

/* Nav toggle */
#menu-toggler:checked ~ nav {
    display: block;
}

#menu-toggler {
    display: none;
}

.menu-icon {
    width: 3rem;
    height: 3rem;
    margin-top: 0.175rem;
    }

.menu-icon path {
    fill: var(--text-color);
    stroke: var(--text-color);
}

/* =========================================================================================================
==================================================== Main= =================================================
============================================================================================================ */



/* --------------------------------
----------- Hero Section ----------
-------------------------------- */

/* Code from Love Running Project by Codeinstitute */
#hero {
    min-height: 100vh; /* Minimum height is full viewport height */
    width: 100%;
    background: url("../images/hero-image.webp") no-repeat center center/cover;
    position: relative;
    margin-bottom: 10px;
}


/* hero-text style */

#hero-text {
    background-color: var(--color-dark);
    position: absolute;
    left: 50%; /* Center horizontally */
    top: 55%; /* adjust vertically */
    transform: translate(-50%, -50%); /* Offset element by half its width and height */
    width: 90%;
    min-height: 300px;
    padding: 6px;
    text-align: center;
    box-shadow: 0 0 5px var(--color-darker-pellucid); 
    border-radius: 10px;
}

#hero-text h1 {
    font-size: 22px;
    line-height: 27px;
    margin-bottom: 15px;
    }

#hero-text h2 {
    font-size: 17px;
    line-height: 18px;
    margin-bottom: 20px;
}

#hero-text p {
    font-size: 15px;
    line-height: 25px;
    margin-bottom: 30px;
}

/* Hero CTA-Button */

.cta-btn {
    display: flex;
    align-items: center;
    justify-content: center; 
    width: 100%;
    height: 40px;
    text-decoration: none;
    font-size: 16px;
    background-color: var(--color-dark);
    color: var(--text-color);
    border: 0.7px solid rgba(156, 19, 19, 0.6);
    border-radius: 20px;
    margin-bottom: 15px;
    padding: 0 20px;
    box-sizing: border-box;
}

/* --------------------------------
--------- Clients Section ---------
-------------------------------- */

#clients {
    text-align: center;
}

#clients h2 {
    font-size: 22px;
}

#clients p {
    font-size: 15px;
    line-height: 24px;
    padding: 0 15px;
}

.h2-heading {
    margin-bottom: 25px;
    padding: 0 11px;
}
.clients-text {
    margin-bottom: 30px;
}

.brands-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); /* auto-fit` adjusts number of columns based on content */
    grid-auto-rows: 40px;
    gap: 45px 10px;
    justify-items: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 40px;
    padding: 15px;
}

.brands-container img {
    width: auto;
    max-height: 40px;
    object-fit: contain;
    margin: 10px;
}

/* --------------------------------
---------- About Section ----------
-------------------------------- */

#about {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#about h2 {
    font-size: 22px;
    margin-bottom: 25px;
    margin-top: 35px;
}

#about p {
    font-size: 15px;
    line-height: 26px;
    padding: 0 15px;
    text-align: center;
    width: 100%;
}


/* --------------------------------
-------- Services Section ---------
-------------------------------- */

#services h2 {
    font-size: 22px;
    margin-top: 45px;
    margin-bottom: 25px;
    padding: 11px;
}

#services {
    text-align: center;
}

.service-text {
    padding: 0 11px;
    text-align: left;
}

.service-container {
    margin-bottom: 20px;
}

.service-text ul {
    list-style-type: disc; /* Ensures bullets are displayed */
    padding-left: 20px;
}

.service-text h3 {
    margin-bottom: 1em;
}

.service-text,
.service-image {
    width: 100%;
    margin-bottom: 1.5em;
}

.service-image img {
    max-width: 100%;
    height: auto;
}

/*Style for Dropdown - Content*/

.dropdown-content {
    display: none;
    padding: 10px;
    margin-top: 5px;
    border-top: 1px solid rgba(156, 19, 19, 0.6);
    font-size: 14px;
}

.service-text ul li {
    position: relative;
    padding: 8px 0;
}

li:hover .dropdown-content {
    display: block;
}

/* --------------------------------
------- Testimonial Section -------
-------------- Slider -------------
-------------------------------- */

#testimonials h2 {
    font-size: 22px;
    margin-bottom: 25px;
    margin-top: 35px;
}

#testimonials {
    text-align: center;
}

.slider {
    position: relative;
    width: 100%;
}

.testimonials {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.testimonial {
    display: none; /* Hide all testimonials initially */
    width: 100%;
    box-sizing: border-box;
    transition: opacity 0.3s, visibility 0.3s; /* Smooth transition effect between testimonials */
}

.testimonial-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
    margin-top: 23px;
    font-size: 15px;
    line-height: 23px;
}

.testimonial-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 auto 35px;
    box-shadow: 0px 1px 6px var(--color-secondary);
}

/*change box shadow of image for testimonial 2 & 3*/
input[name="testimonial"]:nth-of-type(2):checked ~ .testimonials .testimonial:nth-of-type(2) .testimonial-image {
    box-shadow: 0px 1px 6px var(--color-primary);
}
input[name="testimonial"]:nth-of-type(3):checked ~ .testimonials .testimonial:nth-of-type(3) .testimonial-image {
    box-shadow: 0px 1px 6px var(--color-neon);
}

/* Display the active testimonial */
input[name="testimonial"]:nth-of-type(1):checked ~ .testimonials .testimonial:nth-of-type(1),
input[name="testimonial"]:nth-of-type(2):checked ~ .testimonials .testimonial:nth-of-type(2),
input[name="testimonial"]:nth-of-type(3):checked ~ .testimonials .testimonial:nth-of-type(3) {
    display: flex;
}

.slider-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.nav-dot {
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: var(--color-darker);
    box-shadow: 0px 1px 6px var(--color-secondary);
}

/* Hide radio buttons */
input[name="testimonial"] {
    display: none;
}

/* Change nav-dot color when slide is active */
input[name="testimonial"]:nth-of-type(1):checked ~ .slider-nav .nav-dot:nth-of-type(1),
input[name="testimonial"]:nth-of-type(2):checked ~ .slider-nav .nav-dot:nth-of-type(2),
input[name="testimonial"]:nth-of-type(3):checked ~ .slider-nav .nav-dot:nth-of-type(3) {
    background-color: var(--color-secondary);
}

.slider-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    z-index: 2; /* Ensures it's above other elements */
    gap: 45px;
}

/* --------------------------------
---------- Contact Form -----------
-------------------------------- */

#contact-form h2 {
    font-size: 22px;
    margin-bottom: 25px;
    margin-top: 35px;
}

#contact-form h3 {
    font-size: 18px;
    margin-bottom: 10px;
}



#contact-form {
    width: 80%;
    margin: 0 auto;
}

.heading-container {
    text-align: center;
    margin: 20px auto;
    display: table; /* Shrinks container width to fit content */
    width: auto;
}

.form-group {
    width: 100%; /* Each group takes full width on mobile */
    margin-bottom: 10px;
}

.form-group label {
    display: block;
}

.form-group input[type="url"],
.form-group input[type="text"],
.form-group input[type="tel"],
.form-group input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px; 
    background-color: var(--text-color); 
    color: black; /* Text color */
    border: 0.7px solid rgba(156, 19, 19, 0.6);
    border-radius: 5px;
}

.form-group input[type="url"]:focus,
.form-group input[type="text"]:focus,
.form-group input[type="tel"]:focus,
.form-group input[type="email"]:focus,
textarea:focus {
    outline: none; /* Removes default outline */
    border-color: var(--color-primary); /* Border color focus state */
    border-width: 2.4px;
}

textarea {
    height: 150px;
    resize: vertical; /* Resize text area vertically */
}

/*submit button*/
.submit-container {
    padding: 10px 5%;
    margin-bottom: 25px;
    align-items: center;
}

button[type="submit"] {
    width: 100%;
    height: 40px;
    padding: 10px;
    margin-top: 10px;
    border: none;
    background-color: var(--color-black);
    color: var(--text-color);
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    background-color: var(--color-dark);
    color: var(--text-color);
    border: 0.7px solid var(--color-secondary-pellucid);
    border-radius: 20px;
}


/* --------------------------------
------------- Footer --------------
-------------------------------- */

footer {
    text-align: center;
    padding: 20px;
    background-color: var(--color-dark);
}

.footer-column{
    margin-bottom: 20px
}

.footer-column p,
.footer-column a {
    margin-bottom: 10px;
    color: var(--text-color);
    text-decoration: none;
}

.footer-links a {
    color: var(--text-color);
    text-decoration: none;
    display: block;
}

.footer-column h4 {
    margin-bottom: 20px;
    text-align: center; 
}

.social-links {
    display: flex;
    justify-content: space-evenly;
    margin-top: 15px;
}

.social-links a {
    margin: 0 5px; /* Space around each icon */
}

/* =========================================================================================================
================================================== @ Media =================================================
============================================================================================================ */

/* @media screen properties from Love Running Project by Codeinstitute*/

/* Large or landscape phones (576px and up) */
@media screen and (min-width: 576px) {
}

/* Tablets and larger (768px and up) */
@media screen and (min-width: 768px) {

    .underline-effect::after {
        width: 120%;
        transform: translate(-10%, 0);
    }

    /* --------------------------------
    ----------- Hero Section ----------
    -------- min-width: 768px ---------
    -------------------------------- */
  
    #hero-text {
        width: 70%;
        height: 40%;
        padding: 20px;
        top: 55%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #hero-text h1 {
        font-size: 50px;
        margin-bottom: 0.4em;
        line-height: 60px;
    }

    #hero-text h2 {
        font-size: 30px;
        margin-bottom: 0.6em;
    }

    #hero-text p {
        font-size: 20px;
        margin-bottom: 25px;
        padding: 0 25px;
    }

    .button-container {
        display: flex;
        justify-content: center;
        gap: 15px;
    }

    .cta-btn {
        width: auto;
        padding: 10px 20px;
        font-size: 20px;
    }

   /* ---------------------------------
    --------- Clients Section ---------
    -------- min-width: 768px ---------
    -------------------------------- */

    #clients h2 {
        font-size: 30px;
        line-height: 37px;
    }

    .h2-heading {
        margin-bottom: 30px;
        margin-top: 40px;
    }
    
    #clients p {
        font-size: 20px;
        line-height: 30px;
        padding-left: 30px;
        padding-right: 30px;
        text-align: center;
        width: 100%;
    }



    /* --------------------------------
    ----------- About Section ---------
    -------- min-width: 768px ---------
    -------------------------------- */
    
    #about h2 {
        font-size: 30px;
        margin-bottom: 30px;
        margin-top: 40px;
    }
    
    #about p {
        font-size: 20px;
        line-height: 30px;
        padding: 0 30px;
        text-align: center;
        width: 100%;
    }
    /* --------------------------------
    -------- Services Section ---------
    -------- min-width: 768px ---------
    -------------------------------- */

    #services h2 {
        font-size: 30px;
        margin-bottom: 40px;
        margin-top: 40px;
    }

    .service-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 40px;
    }

    .service-container:nth-child(odd) {
        flex-direction: row-reverse;
    }

    .service-container:nth-child(even) {
        flex-direction: row;
    }

    .service-text {
        width: 50%;
        padding: 0 20px;
        font-size: 20px;
        line-height: 25px;
    }

    .service-text.service-text-right {
        text-align: right;
        padding-right: 30px;
    }

    .service-text.service-text-right ul {
        padding-left: 0; 
        padding-right: 20px;
        text-align: right;
        direction: rtl; /* Right-to-left direction for bullets */
    }

    .service-text.service-text-left {
        text-align: left;
        padding-left: 30px;
    }

    .service-text.service-text-left ul {
        padding-left: 20px;
        text-align: left;
    }

    .service-image {
        width: 50%;
    }

    .service-image img {
        max-width: 100%;
        height: auto;
    }

    .dropdown-content {
        font-size: 15px;
    }

    /* --------------------------------
    ------- Testimonial Section -------
    -------------- Slider -------------
    -------- min-width: 768px ---------
    -------------------------------- */
    
    .testimonial-content {
        padding: 0 45px;
        margin-top: 23px;
        font-size: 20px;
        line-height: 30px;
    }

    #testimonials h2 {
        font-size: 30px;
        margin-bottom: 30px;
        margin-top: 40px;
    }

    /* --------------------------------
    ---------- Contact Form -----------
    -------- min-width: 768px ---------
    -------------------------------- */

    #contact-form h2 {
        font-size: 30px;
        margin-bottom: 25px;
        margin-top: 40px;
    }

    #contact-form h3 {
        font-size: 20px;
        margin-bottom: 10px;
    }

    .form-row {
        display: flex;
        justify-content: space-between;
    }
    
    .form-group {
        flex-basis: 48%;
    }

    .submit-container {
        padding: 10px 20%;
        margin-bottom: 50px;
    }

    button[type="submit"] {
    font-size: 18px;
    letter-spacing: 1.5px;
    font-weight: bold;
    }
   
    /* --------------------------------
    -------------- Footer -------------
    -------- min-width: 768px ---------
    -------------------------------- */

    .footer-column h4 {
        font-size: 20px;
    }

    footer {
        display: flex;
        justify-content: center;
        padding: 20px;
    }

    .footer-column p, a {
        font-size: 16px;
    }

    .footer-column .underline-effect::after {  /*gets rid of .underline-effect*/
        display: none;
    }
    
    .footer-column {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start; /* Aligns items to the top */
    }

    .footer-column h4 {
        text-align: center;
        margin-bottom: 20px;
        width: 100%;
    }

    .social-links {
        display: flex;
        justify-content: center;
        align-items: center; 
    }

    .social-links a {
        margin: 0 13px; /* spacing between icons */
    }

    .footer-links a:hover {
        text-decoration: underline;
        color: #9c1313;
    }
}

/* Any other desktop-specific styles */
/* Large devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {

    /* --------------------------------
    ---------- Menu & Navbar ----------
    -------- min-width: 992px ---------
    ------------------------------- */ 
    #menu > ul > li {
        font-size: 24px;
    }

    #menu-toggler, .menu-icon {
        display: none;
    }

    nav {
        position: static;
        width: auto; 
        box-shadow: none;
        display: flex;
        justify-content: center;
        
    }

    #menu ul {
        display: flex;
        align-items: center;
        
    }

    #menu > ul > li {
        padding: 0 15px;
    }

    #menu a {
        text-decoration: none;
        color: var(--text-color);
    }

   /* Hover effect for menu links */
   #menu a:hover {
    border-bottom: 1px solid var(--color-secondary-pellucid); 
    color: #ffffff; /* changes text color on hover */
    padding-bottom: 2px;
   }
  
    /* --------------------------------
    ----------- Hero Section ----------
    -------- min-width: 992px ---------
    -------------------------------- */
   
    #hero-text {
        width: 50%;
        height: 40%;
        transform: translate(-50%, -50%);
    }

    #hero-text h1 {
        font-size: 60px;
    }

    #hero-text p {
        font-size: 21px;
        margin-bottom: 40px;
    }

    .button-container {
        gap: 25px;
    }

    .cta-btn {
        display: inline-block;
        width: 185px;
        font-size: 16px;

    }

    .cta-btn:hover {
        background-color: var(--color-secondary-pellucid);
        color: #ffffff; /* Changes text color on hover */
        border-color: transparent;
    }

    /* --------------------------------
    -------- Services Section ---------
    -------- min-width: 992px ---------
    -------------------------------- */

    /* Show the dropdown content on hover */

    .service-text ul li {
        cursor: pointer;
        padding: 40px 0;
    }
   

    /* --------------------------------
    ------- Testimonial Section -------
    -------------- Slider -------------
    -------- min-width: 992px ---------
    -------------------------------- */
    .slider-nav {
            margin-bottom: 20px;
        }
    
    .testimonial-content {
        padding: 0 100px;
    }

    .nav-dot {
        cursor: pointer;
    }

    /*---------------------------------
    ---------- Contact Form -----------
    -------- min-width: 992px ---------
    -------------------------------- */

    button[type="submit"]:hover {
        background-color: var(--color-secondary-pellucid);
        color: #ffffff; /* changes text color on hover */
        border-color: transparent;
    }

    button[type="submit"] {
        cursor: pointer;
    }

    /* --------------------------------
    -------------- Footer -------------
    -------- min-width: 992px ---------
    -------------------------------- */

    .footer-links a:hover {
        text-decoration: underline;
        color: #9c1313;
    }
}

/* Large devices (Large screens & TVs, 1200px and up) */
@media screen and (min-width: 1200px) {

      /* --------------------------------
    ------- Testimonial Section -------
    -------------- Slider -------------
    -------- min-width: 1200px ---------
    -------------------------------- */
    .testimonial-content {
        padding: 0 450px;
        display: block; /* Ensure the image is a block element */
        margin: 0 auto 35px;
    }
}
